* {
  box-sizing: border-box; }

.container {
  padding: 0px 0;
  max-width: 767px;
  margin: 0 auto; }

.cf {
  clear: both; }

body {
  font-family: Helvetica, Arial, sans-serif;
  background: black;
  color: yellow; }

::selection {
  background: red;
  /* Safari */ }

::-moz-selection {
  background: #ffb7b7;
  /* Firefox */ }

ul {
  clear: both;
  list-style-type: none;
  margin: 0;
  padding: 0; }

h2 {
  color: #FFF; }

p {
  text-indent: 10px;
  font-size: 16px;
  line-height: 40px;
  margin: 0 0 5px 0; }

.item, .empty {
  background: yellow;
  border: 1px solid yellow;
  margin-bottom: 5px;
  position: relative;
  height: 40px; }

.item {
  padding-right: 5px; }

button {
  float: right;
  background: yellow;
  border: none;
  padding: 9px 16px;
  font-size: 16px;
  margin: 0;
  outline: 0; }
  button.remove {
    background: red;
    display: none;
    margin-right: 5px; }
  button.add {
    font-weight: bold;
    padding: 9px 13px; }

.controls {
  position: relative;
  margin-bottom: 5px; }

.checkbox {
  position: absolute;
  display: block;
  text-align: center;
  left: 10px;
  top: 50%;
  height: 16px;
  width: 16px;
  line-height: 13px;
  margin-top: -8px;
  background: black;
  border: 1px solid yellow; }

.completed {
  background: red; }

input[type="checkbox"] {
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input[type=checkbox] + label {
  position: absolute;
  display: block;
  height: 38px;
  width: 37px;
  top: -12px;
  left: -11px; }

input[type=checkbox]:checked + label:before {
  content: '+';
  display: block;
  position: absolute;
  left: 1px;
  right: 0px;
  line-height: 36px;
  font-size: 18px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg); }

.checkAll {
  display: none; }

.disabled, .empty {
  background: #000 !important; }
  .disabled input[type="text"], .empty input[type="text"] {
    color: grey !important; }

input[type="text"] {
  padding-left: 20px;
  background: none;
  outline: 0;
  border: none;
  color: #000;
  width: 100%;
  margin: 0;
  padding: 10px 0 10px 40px;
  font-size: 16px; }

[contenteditable]::selection {
  background: pink;
  /* Safari */ }

[contenteditable]::-moz-selection {
  background: pink;
  /* Firefox */ }

.item:nth-child(1) {
  background: #f2ff00;
  border-color: #f2ff00; }
  .item:nth-child(1) .checkbox {
    border-color: #f2ff00; }
  .item:nth-child(1) input[type=checkbox]:checked + label {
    color: #f2ff00; }

.item:nth-child(2) {
  background: #e6ff00;
  border-color: #e6ff00; }
  .item:nth-child(2) .checkbox {
    border-color: #e6ff00; }
  .item:nth-child(2) input[type=checkbox]:checked + label {
    color: #e6ff00; }

.item:nth-child(3) {
  background: #d9ff00;
  border-color: #d9ff00; }
  .item:nth-child(3) .checkbox {
    border-color: #d9ff00; }
  .item:nth-child(3) input[type=checkbox]:checked + label {
    color: #d9ff00; }

.item:nth-child(4) {
  background: #ccff00;
  border-color: #ccff00; }
  .item:nth-child(4) .checkbox {
    border-color: #ccff00; }
  .item:nth-child(4) input[type=checkbox]:checked + label {
    color: #ccff00; }

.item:nth-child(5) {
  background: #bfff00;
  border-color: #bfff00; }
  .item:nth-child(5) .checkbox {
    border-color: #bfff00; }
  .item:nth-child(5) input[type=checkbox]:checked + label {
    color: #bfff00; }

.item:nth-child(6) {
  background: #b2ff00;
  border-color: #b2ff00; }
  .item:nth-child(6) .checkbox {
    border-color: #b2ff00; }
  .item:nth-child(6) input[type=checkbox]:checked + label {
    color: #b2ff00; }

.item:nth-child(7) {
  background: #a6ff00;
  border-color: #a6ff00; }
  .item:nth-child(7) .checkbox {
    border-color: #a6ff00; }
  .item:nth-child(7) input[type=checkbox]:checked + label {
    color: #a6ff00; }

.item:nth-child(8) {
  background: #99ff00;
  border-color: #99ff00; }
  .item:nth-child(8) .checkbox {
    border-color: #99ff00; }
  .item:nth-child(8) input[type=checkbox]:checked + label {
    color: #99ff00; }

.item:nth-child(9) {
  background: #8cff00;
  border-color: #8cff00; }
  .item:nth-child(9) .checkbox {
    border-color: #8cff00; }
  .item:nth-child(9) input[type=checkbox]:checked + label {
    color: #8cff00; }

.item:nth-child(10) {
  background: #80ff00;
  border-color: #80ff00; }
  .item:nth-child(10) .checkbox {
    border-color: #80ff00; }
  .item:nth-child(10) input[type=checkbox]:checked + label {
    color: #80ff00; }

.item:nth-child(11) {
  background: #73ff00;
  border-color: #73ff00; }
  .item:nth-child(11) .checkbox {
    border-color: #73ff00; }
  .item:nth-child(11) input[type=checkbox]:checked + label {
    color: #73ff00; }

.item:nth-child(12) {
  background: #66ff00;
  border-color: #66ff00; }
  .item:nth-child(12) .checkbox {
    border-color: #66ff00; }
  .item:nth-child(12) input[type=checkbox]:checked + label {
    color: #66ff00; }

.item:nth-child(13) {
  background: #59ff00;
  border-color: #59ff00; }
  .item:nth-child(13) .checkbox {
    border-color: #59ff00; }
  .item:nth-child(13) input[type=checkbox]:checked + label {
    color: #59ff00; }

.item:nth-child(14) {
  background: #4cff00;
  border-color: #4cff00; }
  .item:nth-child(14) .checkbox {
    border-color: #4cff00; }
  .item:nth-child(14) input[type=checkbox]:checked + label {
    color: #4cff00; }

.item:nth-child(15) {
  background: #40ff00;
  border-color: #40ff00; }
  .item:nth-child(15) .checkbox {
    border-color: #40ff00; }
  .item:nth-child(15) input[type=checkbox]:checked + label {
    color: #40ff00; }

.item:nth-child(16) {
  background: #33ff00;
  border-color: #33ff00; }
  .item:nth-child(16) .checkbox {
    border-color: #33ff00; }
  .item:nth-child(16) input[type=checkbox]:checked + label {
    color: #33ff00; }

.item:nth-child(17) {
  background: #26ff00;
  border-color: #26ff00; }
  .item:nth-child(17) .checkbox {
    border-color: #26ff00; }
  .item:nth-child(17) input[type=checkbox]:checked + label {
    color: #26ff00; }

.item:nth-child(18) {
  background: #1aff00;
  border-color: #1aff00; }
  .item:nth-child(18) .checkbox {
    border-color: #1aff00; }
  .item:nth-child(18) input[type=checkbox]:checked + label {
    color: #1aff00; }

.item:nth-child(19) {
  background: #0dff00;
  border-color: #0dff00; }
  .item:nth-child(19) .checkbox {
    border-color: #0dff00; }
  .item:nth-child(19) input[type=checkbox]:checked + label {
    color: #0dff00; }

.item:nth-child(20) {
  background: lime;
  border-color: lime; }
  .item:nth-child(20) .checkbox {
    border-color: lime; }
  .item:nth-child(20) input[type=checkbox]:checked + label {
    color: lime; }

.item:nth-child(21) {
  background: #00ff0d;
  border-color: #00ff0d; }
  .item:nth-child(21) .checkbox {
    border-color: #00ff0d; }
  .item:nth-child(21) input[type=checkbox]:checked + label {
    color: #00ff0d; }

.item:nth-child(22) {
  background: #00ff19;
  border-color: #00ff19; }
  .item:nth-child(22) .checkbox {
    border-color: #00ff19; }
  .item:nth-child(22) input[type=checkbox]:checked + label {
    color: #00ff19; }

.item:nth-child(23) {
  background: #00ff26;
  border-color: #00ff26; }
  .item:nth-child(23) .checkbox {
    border-color: #00ff26; }
  .item:nth-child(23) input[type=checkbox]:checked + label {
    color: #00ff26; }

.item:nth-child(24) {
  background: #00ff33;
  border-color: #00ff33; }
  .item:nth-child(24) .checkbox {
    border-color: #00ff33; }
  .item:nth-child(24) input[type=checkbox]:checked + label {
    color: #00ff33; }

.item:nth-child(25) {
  background: #00ff40;
  border-color: #00ff40; }
  .item:nth-child(25) .checkbox {
    border-color: #00ff40; }
  .item:nth-child(25) input[type=checkbox]:checked + label {
    color: #00ff40; }

.item:nth-child(26) {
  background: #00ff4d;
  border-color: #00ff4d; }
  .item:nth-child(26) .checkbox {
    border-color: #00ff4d; }
  .item:nth-child(26) input[type=checkbox]:checked + label {
    color: #00ff4d; }

.item:nth-child(27) {
  background: #00ff59;
  border-color: #00ff59; }
  .item:nth-child(27) .checkbox {
    border-color: #00ff59; }
  .item:nth-child(27) input[type=checkbox]:checked + label {
    color: #00ff59; }

.item:nth-child(28) {
  background: #00ff66;
  border-color: #00ff66; }
  .item:nth-child(28) .checkbox {
    border-color: #00ff66; }
  .item:nth-child(28) input[type=checkbox]:checked + label {
    color: #00ff66; }

.item:nth-child(29) {
  background: #00ff73;
  border-color: #00ff73; }
  .item:nth-child(29) .checkbox {
    border-color: #00ff73; }
  .item:nth-child(29) input[type=checkbox]:checked + label {
    color: #00ff73; }

.item:nth-child(30) {
  background: #00ff80;
  border-color: #00ff80; }
  .item:nth-child(30) .checkbox {
    border-color: #00ff80; }
  .item:nth-child(30) input[type=checkbox]:checked + label {
    color: #00ff80; }

.item:nth-child(31) {
  background: #00ff8c;
  border-color: #00ff8c; }
  .item:nth-child(31) .checkbox {
    border-color: #00ff8c; }
  .item:nth-child(31) input[type=checkbox]:checked + label {
    color: #00ff8c; }

.item:nth-child(32) {
  background: #00ff99;
  border-color: #00ff99; }
  .item:nth-child(32) .checkbox {
    border-color: #00ff99; }
  .item:nth-child(32) input[type=checkbox]:checked + label {
    color: #00ff99; }

.item:nth-child(33) {
  background: #00ffa6;
  border-color: #00ffa6; }
  .item:nth-child(33) .checkbox {
    border-color: #00ffa6; }
  .item:nth-child(33) input[type=checkbox]:checked + label {
    color: #00ffa6; }

.item:nth-child(34) {
  background: #00ffb3;
  border-color: #00ffb3; }
  .item:nth-child(34) .checkbox {
    border-color: #00ffb3; }
  .item:nth-child(34) input[type=checkbox]:checked + label {
    color: #00ffb3; }

.item:nth-child(35) {
  background: #00ffbf;
  border-color: #00ffbf; }
  .item:nth-child(35) .checkbox {
    border-color: #00ffbf; }
  .item:nth-child(35) input[type=checkbox]:checked + label {
    color: #00ffbf; }

.item:nth-child(36) {
  background: #00ffcc;
  border-color: #00ffcc; }
  .item:nth-child(36) .checkbox {
    border-color: #00ffcc; }
  .item:nth-child(36) input[type=checkbox]:checked + label {
    color: #00ffcc; }

.item:nth-child(37) {
  background: #00ffd9;
  border-color: #00ffd9; }
  .item:nth-child(37) .checkbox {
    border-color: #00ffd9; }
  .item:nth-child(37) input[type=checkbox]:checked + label {
    color: #00ffd9; }

.item:nth-child(38) {
  background: #00ffe6;
  border-color: #00ffe6; }
  .item:nth-child(38) .checkbox {
    border-color: #00ffe6; }
  .item:nth-child(38) input[type=checkbox]:checked + label {
    color: #00ffe6; }

.item:nth-child(39) {
  background: #00fff2;
  border-color: #00fff2; }
  .item:nth-child(39) .checkbox {
    border-color: #00fff2; }
  .item:nth-child(39) input[type=checkbox]:checked + label {
    color: #00fff2; }

.item:nth-child(40) {
  background: cyan;
  border-color: cyan; }
  .item:nth-child(40) .checkbox {
    border-color: cyan; }
  .item:nth-child(40) input[type=checkbox]:checked + label {
    color: cyan; }

.item:nth-child(41) {
  background: #00f2ff;
  border-color: #00f2ff; }
  .item:nth-child(41) .checkbox {
    border-color: #00f2ff; }
  .item:nth-child(41) input[type=checkbox]:checked + label {
    color: #00f2ff; }

.item:nth-child(42) {
  background: #00e5ff;
  border-color: #00e5ff; }
  .item:nth-child(42) .checkbox {
    border-color: #00e5ff; }
  .item:nth-child(42) input[type=checkbox]:checked + label {
    color: #00e5ff; }

.item:nth-child(43) {
  background: #00d9ff;
  border-color: #00d9ff; }
  .item:nth-child(43) .checkbox {
    border-color: #00d9ff; }
  .item:nth-child(43) input[type=checkbox]:checked + label {
    color: #00d9ff; }

.item:nth-child(44) {
  background: #00ccff;
  border-color: #00ccff; }
  .item:nth-child(44) .checkbox {
    border-color: #00ccff; }
  .item:nth-child(44) input[type=checkbox]:checked + label {
    color: #00ccff; }

.item:nth-child(45) {
  background: deepskyblue;
  border-color: deepskyblue; }
  .item:nth-child(45) .checkbox {
    border-color: deepskyblue; }
  .item:nth-child(45) input[type=checkbox]:checked + label {
    color: deepskyblue; }

.item:nth-child(46) {
  background: #00b2ff;
  border-color: #00b2ff; }
  .item:nth-child(46) .checkbox {
    border-color: #00b2ff; }
  .item:nth-child(46) input[type=checkbox]:checked + label {
    color: #00b2ff; }

.item:nth-child(47) {
  background: #00a6ff;
  border-color: #00a6ff; }
  .item:nth-child(47) .checkbox {
    border-color: #00a6ff; }
  .item:nth-child(47) input[type=checkbox]:checked + label {
    color: #00a6ff; }

.item:nth-child(48) {
  background: #0099ff;
  border-color: #0099ff; }
  .item:nth-child(48) .checkbox {
    border-color: #0099ff; }
  .item:nth-child(48) input[type=checkbox]:checked + label {
    color: #0099ff; }

.item:nth-child(49) {
  background: #008cff;
  border-color: #008cff; }
  .item:nth-child(49) .checkbox {
    border-color: #008cff; }
  .item:nth-child(49) input[type=checkbox]:checked + label {
    color: #008cff; }

.item:nth-child(50) {
  background: #007fff;
  border-color: #007fff; }
  .item:nth-child(50) .checkbox {
    border-color: #007fff; }
  .item:nth-child(50) input[type=checkbox]:checked + label {
    color: #007fff; }
