$bg-color: yellow;

* {
  box-sizing: border-box;
}

.container {
  padding: 40px 0;
  max-width: 767px;
  margin: 0 auto;
}

.cf {clear: both;}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: black;
  color: yellow;
}

::selection {
  background: red; /* Safari */
  }
::-moz-selection {
  background: #ffb7b7; /* Firefox */
}

ul {
  clear: both;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  color: #FFF;
}

p {
  text-indent: 10px;
  font-size: 16px;
  line-height: 40px;
  margin: 0 0 5px 0;
}

.item, .empty {
  background: $bg-color;
  border: 1px solid $bg-color;
  margin-bottom: 5px;
  position: relative;
  height: 40px;
}

.empty {
  @extend .disabled;
}

button{
  float: right;
  background: yellow;
  border: none;
  padding: 9px 16px;
  font-size: 16px;
  margin: 0;
  outline: 0;

  &.remove {
    background: red;
    display: none;
    margin-right: 5px;
  }

  &.add {
    font-weight: bold;
    padding: 9px 13px;
  }
}

.controls {
  position: relative;
  margin-bottom: 5px;
}

.checkbox {
  position: absolute;
  display: block;
  text-align: center;
  left: 10px;
  top: 50%;
  height: 16px;
  width: 16px;
  line-height: 13px;
  margin-top: -8px;
  background: black;
  border: 1px solid $bg-color;
}

.completed {
  background: red;
}

input[type="checkbox"] {
  opacity:  0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=checkbox] + label {
  // outline: 1px solid red;
  position: absolute;
  display: block;
  height: 38px;
  width: 37px;
  top: -12px;
  left: -11px;
}

input[type=checkbox]:checked {
}

input[type=checkbox]:checked + label {
  // outline: 1px solid blue;

  &:before {
    content: '+';
    display: block;
    position: absolute;
    left: 1px;
    right: 0px;
    line-height: 36px;
    font-size: 18px;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
  }
}

.checkAll {display: none;}

.disabled {
  background: #000 !important;
  input[type="text"] {
    color: grey !important;
  }
}

input[type="text"] {
  padding-left: 20px;
  background: none;
  outline: 0;
  border: none;
  color: #000;
  width: 100%;
  margin: 0;
  padding: 10px 0 10px 40px;
  font-size: 16px;
}

[contenteditable]::selection {
  background: pink; /* Safari */
  }
[contenteditable]::-moz-selection {
  background: pink; /* Firefox */
}

//item color generator

@for $i from 1 through 50 {
  .item:nth-child(#{$i}) {
    background: adjust-hue($bg-color, ($i * 3));
    border-color: adjust-hue($bg-color, ($i * 3));
    .checkbox {
      border-color: adjust-hue($bg-color, ($i * 3));
    }
    input[type=checkbox]:checked + label {
      color: adjust-hue($bg-color, ($i * 3));
    }
  }
}

